footer {
    padding: 20px;
    background-color: #2a2a2a;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adds space between the text and the icon */
}

.social-links a {
    color: #4a90e2;
    font-size: 1.5em;
    text-decoration: none;
}

.social-links a:hover {
    color: #93c416;
}
