body {
    font-family: 'Lora', sans-serif;
    background-image: radial-gradient(#610261 0%, #16213e 70%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    opacity: 0.85;
    margin-top: 30px;
}

section {
    background-color: #16213e;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(255, 0, 255, 0.7);
    text-align: left;
}

h2 {
    font-size: 1.8em;
    color: #ff00ff;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

strong {
    color: #00ffe5;
}

img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(138, 43, 226, 0.5);
}

a {
    color: #00ffe5;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    padding: 20px;
}
