.nav-container {
    width: 100%;
    background: rgba(22, 33, 62, 0.9);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    padding-top: 20px;
    box-shadow: 0px 5px 5px rgba(255, 0, 255, 0.7);
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-menu li:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(255, 0, 255, 0.9);
}

.nav-menu a {
    text-decoration: none;
    color: #f932fc;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff99cc;
}
header {
    font-family: 'Lora', sans-serif;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}