body {
    font-family: 'Lora', sans-serif;
    background-color: #161616; /* Очень тёмный фон */
    color: #fff; /* Основной текст белый */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

header h1 {
    font-size: 70px;
    opacity: 0.85;
    color: #fff; /* Основной текст белый */
}

.post-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list li {
    background-color: #1f1f1f; /* Темный фон для элементов списка */
    margin: 50px auto;
    width: 550px;
    height: 700px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-list li:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 40px rgba(74, 144, 226, 0.9); /* Голубой цвет для тени */
}

img {
    width: 100%;
    max-width: 550px;
    height: 500px;
    object-fit: contain;
}

h2 {
    height: 50px;
    color: #4a90e2; /* Акцентный голубой */
    font-size: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.user_desc {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    padding: 12px 24px;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    background-color: #4a90e2; /* Акцентный голубой */
    color: white;
    border-top: 1px solid white;
    box-shadow: 0 4px 10px rgba(74, 144, 226, 0.5);
}

.button:hover {
    background-color: #3a7bc8; /* Темнее голубой */
    transform: scale(1.07);
    box-shadow: 0 6px 15px rgba(74, 144, 226, 0.7);
}
.author-link {
    color: #4a90e2; /* Акцентный голубой */
    text-decoration: none;
    font-style: normal; /* Убираем курсив */
    transition: color 0.3s ease;
}

.author-link:hover {
    color: #3a7bc8; /* Темнее голубой */
    text-decoration: underline;
}
