<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    {%include 'general/header.html' %}
    <header class="header">
        <h1>AI Fashion Stylist</h1>
        <p>Your personal fashion assistant powered by AI</p>
    </header>
<!--
    <nav>
        <a href="#about">About Us</a> |
        <a href="#contact">Contact</a> |
        <a href="#promote">Promote</a>
    </nav>
-->
<main class="content">
    <section id="about">
        <h2>About Us</h2>
        <p>At AI Fashion Stylist, we use AI technology to help you choose the perfect outfit for every occasion...</p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Email: <a href="mailto:support@aifashion.com">support@aifashion.com</a></p>
    </section>

    <section id="promote">
        <h2>Promote</h2>
        <p>Want to partner with us and promote your clothing brand on our platform? We offer exciting opportunities for collaborations. Reach out to us for promotional packages and partnership details.</p>
        <p>Email: <a href="mailto:promotions@aifashion.com">promotions@aifashion.com</a></p>
    </section>
</main>

    <footer>
        {% include 'general/footer.html' %}
    </footer>
</body>
</html>