<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <p> 2025 AI Fashion Stylist. All rights reserved.</p>
    <p>Follow us on <a href="https://t.me/telegram">Telegram</a> and <a href="https://vk.com/insidevk">VK</a></p>

    <!-- Ссылка на Flask -->
    <p>
        <a href="http://localhost:5000" target="_blank" style="text-decoration: none;">
            <button type="button">Need help? Chat with our bot</button>
        </a>
    </p></body>
</html>