<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 AI Fashion Stylist. All rights reserved.</p>
            <div class="social-links">
                <a href="https://t.me/alstylist" target="_blank"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
        <a href="http://localhost:5000/getrec?data" target="_blank" style="text-decoration: none;">
                <button class="help-button" type="button">Need help? Chat with our bot</button>
            </a>
    </footer>
</body>
</html>

