<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

<header class="nav-container">
        <nav>
            <ul class="nav-menu">
                <li><a href = "{% url 'for_you' %}">For you</a></li>
                <li><a href = "{% url 'scrolling' %}">Scrolling</a></li>
                <li><a href = "{% url 'posts_all' %}">Best outfits</a></li>
                <li><a href = "{% url 'profile' %}">Profile</a></li>
                <li><a href = "{% url 'about' %}">About</a></li>
                <li><a href = "{% url 'log_out' %}">Log out</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>