<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

    <header>
        <div class="nav-container">
            <button onclick="window.location.href='{% url 'for_you' %}'">For you</button>
            <button onclick="window.location.href='{% url 'scrolling' %}'">Scrolling</button>
            <button onclick="window.location.href='{% url 'posts_all' %}'">Posts</button>
            <button onclick="window.location.href='{% url 'profile' %}'">Profile</button>
            <button onclick="window.location.href='{% url 'about' %}'">About</button>
            <button onclick="window.location.href='{% url 'log_out' %}'">Log out</button>
        </div>
    </header>

</body>
</html>