<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <div class="card">
        <div class="image-side">
            <img src="https://i.postimg.cc/wBh7v0GC/morn-edited-free-carve-photos-2.png">
        </div>
        <div class="form-side">
            <h1>Sign up</h1>
            <p class="subtitle">Get personalized outfit recommendations instantly</p>

            <br>
            <!-- Сообщения/ошибки -->
            {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Сообщения/ошибки -->

            <br>

            <form method="POST" action="{% url 'sign_up' %}">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fa fa-user icon"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <i class="fa fa-envelope icon"></i>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <ul>Password should be:
                        <li>At least 8 characters.</li>
                        <li>Contain at least 1 number.</li>
                        <li>Contain at least 1 special character.</li>
                        <li>Contain at least 1 uppercase letter.</li>
                    </ul>
                <div class="input-group">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" name="password1" placeholder="Password" required>
                </div>
                <div class="input-group">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" name="password2" placeholder="Confirm Password" required>
                </div>

                <div class="gender-group">
                    <label><input type="radio" name="gender" value="1" required> Male</label>
                    <label><input type="radio" name="gender" value="0" required> Female</label>
                </div>

                <textarea name="about" placeholder="Tell us about yourself..." rows="3" required></textarea>

                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" name="terms_accepted" required>
                        I agree to the <a class="author-link" href="{% url 'terms' %}" target="_blank">Terms and Privacy Policy</a>
                    </label>
                </div>

                <button type="submit" class="submit-btn">Join now</button>
                <p class="login-link">Already a member? <a href="{% url 'log_in' %}">Log in</a></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>