<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liked</title>
</head>
<body>
    <header>
        {%include 'general/header.html' %}
    </header>
    <h1>Your liked posts</h1>

    <ul class="post-list">
    {% for post in posts %}
        <li>
            <a href="{% url 'post' post.id %}" class="post-link">{{ post.title }}</a>
            <img src="{{ post.image.url }}" alt="Post Image" width="200"><br>
        </li>
        {% endfor %}
    </ul>

    <footer>
        <p><a href="{% url 'profile' %}">Back to profile</a></p>
        {% include 'general/footer.html' %}
    </footer>
</body>
</html>