<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
    {% include 'general/preloader.html' %}
    {% include 'general/header.html' %}

    <main>

        {% if post.image %}
        <section class="post-image">
            <h1>{{ title }}</h1>
            <p class="author-paragraph">
                <strong>Author:</strong>
                <a href="{% url 'profile' author.username %}" class="author-link"><i>{{ author.username }}</i></a>
            </p>
            <img src="{{ post.image.url }}" alt="Post Image" width="300">
            <p>{{ post.description }}</p>
        </section>
        {% endif %}

        <section class="post-content">
            <p><strong>Likes:</strong> <i>{{ likes }}</i></p>
            <a href="{% url 'like' id %}" class="like-button">Like</a>
        </section>

        <section class="comments-section">
            <h2>Comments:</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <label for="text">Text:</label>
                <textarea id="text" name="text" rows="4" placeholder="Enter your text here" required></textarea>
                <button type="submit" class="comment-submit-button">Send comment</button>
            </form>

            {% for comment in comments %}
            <div class="comment">
                <p><strong>Username: {{ comment.user.username }}</strong></p>
                <p>{{ comment.content }}</p>
            </div>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </section>
    </main>
</body>
</html>
