<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Best Outfits</title>
    <link rel="stylesheet" href="{% static 'css/posts_all.css' %}">
</head>
<body>
        {%include 'general/header.html' %}
    <header>
        <h1>Fashion Posts</h1>
    </header>
    <a href="{% url 'make_post' %}" class="button">Create New Post</a>
    <ul class="post-list">
    {% for post in posts %}
        <li>
            <a href="{% url 'post' post.id %}" class="post-link">
                <h2>{{ post.title }}</h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" width="300"><br>
                {% endif %}
                <div class="user_desc">
                    <p><b><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></b></p>
                    <p>{{ post.description }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

</body>
<footer>
    {% include 'general/footer.html' %}
</footer>
</html>